<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-4">
              <h1>Periods</h1>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary" (click)="redirectNewPeriodPage()">New Period</button>
            </div>
          </div>

        </header>
      </section>

      <section class="main">

        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Year</th>
            <th>Month</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let period of periods">
            <th scope="row">{{period.id}}</th>
            <td>{{period.year}}</td>
            <td>{{period.month}}</td>
            <td>
              <button type="button" class="btn btn-success" (click)="editPeriodPage(period)">Edit</button>
              <button type="button" class="btn btn-danger" (click)="deletePeriod(period)">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>
